:root {
  --custom-background-color: #133644;
}
::selection {
  color: rgb(241, 15, 166);
}
.ion-head {
  display: flex;
  align-items: center;
  justify-content: center !important;
}
.ion-head .logout-btn {
  padding: 1px !important;
  margin-right: 10px !important;
  --color: #f7d2fa !important;
}
.ion-head .user {
  letter-spacing: 0.3rem;
  font-weight: bold;
}

.go-back {
  margin-left: 10px !important;
  --color: #f5b056 !important;
}

/*ion global**/
ion-toolbar {
  --color: #ffffff;
}
ion-header {
  --ion-background-color: var(--custom-background-color);
}
/**remove box shadow*/
ion-header.header-md:after {
  background: none;
}

ion-button {
  --color: #ceff5c;
}
ion-item {
  --margin-bottom: 10px !important;
}

ion-input {
  --padding-top: 0.4rem;
  --color: #054638 !important;
  --background: rgba(159, 177, 182, 0.3) !important;
}
ion-input {
  padding: 0.4rem;
}
input {
  font-size: 1rem !important;
}
input:focus {
  outline: none;
}

::placeholder {
  --placeholder-color: #060a47;
  --placeholder-opacity: 0.5;
}
.input {
  padding-bottom: 0.4rem;
  margin: auto;
  width: 94%;
}

/*home*/
.home {
  margin: auto;
  top: 0;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--custom-background-color);
}
.home p {
  color: #fff;
}

.home h1 {
  font-family: Fascinate Inline;
  background-image: linear-gradient(180deg, #ff00b3, #ffc507);
  font-weight: 400;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  filter: drop-shadow(2px 2px #0085a3);
  font-size: 70px;
  text-align: center;
  margin: 20px;
}

/*buttons global*/
.start-btn,
.next-btn {
  cursor: pointer;
  border-radius: 10px;
  margin: 20px 0;
  padding: 0 40px;
}

/*start component*/
.start-container {
  margin-top: 3rem;
}
.start-container h4 {
  text-align: center;
  color: #29cdff;
}

.ion-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}
ion-item {
  margin-bottom: 1rem;
}
ion-label {
  color: #06074d !important;
}
ion-select {
  width: 150px;
}

.my-custom-interface .select-interface-option .alert-radio-label {
  --color-hover: #ec2168;
  color: #e40553;
}
.my-custom-interface
  .select-interface-option[aria-checked="true"]
  .alert-radio-label {
  color: #00a043;
  font-weight: bold;
}

.quit-score-container {
  margin-top: 2rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.score-btn {
  padding: -2px;
  height: 55.3px;
  font-size: 1rem;
  text-align: center;
}
