.page-login {
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--custom-background-color);
}
.login {
  position: relative;
  max-width: 350px;
  min-height: 50%;
  padding: 1rem;
  margin: 3rem auto;
  background: #fff;
  z-index: 50;
}
.login .redirect {
  text-align: center;
  padding: 15px;
}
.login .link- {
  padding-left: 5px;
  font-size: 1.2rem;
  margin-left: 10px;
  text-decoration: none;
  color: #017699;
  font-weight: bold;
}

.input-control {
  padding-bottom: 0.4rem;
  margin-bottom: 0.5rem !important;
}

::placeholder {
  --placeholder-color: #72a9b9;
  --placeholder-opacity: 0.3;
}
.login-btn {
  text-align: center;
  padding: 5px;
  width: 220px !important;
  margin: 15px 0px;
  letter-spacing: 0.3rem;
}
.login-btn-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-btn-container #no-auth {
  text-decoration: none;
  transition: all 300ms linear;
  font-size: 1rem;
  font-weight: bold;
  color: #065f7a;
}
.login-btn-container #no-auth:hover {
  text-decoration: underline;
  color: #017699;
  cursor: pointer;
}
