.page-login {
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--custom-background-color);
}
.login {
  position: relative;
  max-width: 350px;
  min-height: 55%;
  padding: 1rem;
  margin: 3rem auto;
  background: #fff;
  z-index: 50;
}
.login-content {
  margin: 23px 0px;
}

.login .or {
  text-align: center;
  color: rgb(64, 1, 80);
  font-weight: 600;
  margin-top: -5px;
}
.login .form {
  margin-top: 15px;
}

.input-control {
  padding-bottom: 0.4rem;
  margin-bottom: 0.5rem !important;
}

.login .buttons {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login .buttons.social {
  margin-bottom: 10px;
}
.login .buttons.social .google {
  margin-bottom: -8px;
}
.login-btn {
  text-align: center;
  padding: 10px;
  width: 100% !important;
  letter-spacing: 0.2rem;
  font-size: 1.2rem !important;
  border-radius: none !important;
}
.login .buttons #no-auth {
  text-decoration: none;
  transition: all 300ms linear;
  font-size: 1rem;
  font-weight: bold;
  color: #bfd6f8;
  background-color: #353061;
  padding: 5px 0px;
  width: 94% !important;
}

.buttons #no-auth:hover {
  text-decoration: underline;
  color: #e6eafd;
  cursor: pointer;
}

.login .redirect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-top: 5px;
}
.login .link- {
  padding-left: 5px;
  font-size: 1.2rem;
  margin-left: 10px;
  text-decoration: none;
  color: #2c0236;
  font-weight: bold;
}
