.summary {
  max-width: 65%;
  margin: 2rem 0rem;
}
.summary-content {
  margin-bottom: 0.7rem;
  background: rgb(255, 255, 255);
  color: rgb(13, 114, 182);
  padding: 0.3rem;
  font-style: italic;
  border-radius: 5px;
  line-height: 1.2rem;
  transition: all 300ms linear;
}
.summary-content div {
  margin-bottom: 0.2rem;
}
.summary-content:hover {
  background: rgb(236, 236, 236);
  padding-left: 0.3rem;
  color: rgb(4, 161, 167);
}

.summary-btns {
  margin-top: 2rem;
  text-align: center;
}
.yes {
  color: #0fdb20;
}
.no {
  color: #f10e0e;
}
